<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<p><a href="addCookies">Add Cookies</a></p>
<p><a href="checkCookies">Check Cookies</a></p>
<p><a href="clearCookies">Clear Cookies</a></p>
<p><a href="addStorage">Add Cookies</a></p>
<p><a href="checkStorage">Check Cookies</a></p>
<p><a href="clearStorage">clear Cookies</a></p>

</body>
</html>